<a href="https://colab.research.google.com/github/Tkundlas/homeprices/blob/main/homeprices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
from sklearn import linear_model

In [ ]:
df=pd.read_csv('homeprices_2.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
df.bedrooms.median()

4.0

In [ ]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [ ]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis= 'columns'),df.price)

LinearRegression()

In [ ]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [ ]:
reg.intercept_

221323.00186540396

In [ ]:
reg.predict([[3000,3,45]])

In [ ]:
reg.predict([[2500,4,5]])

In [ ]:
112.06244194 * 3000 + 23388.88007794 * 3 + -3231.71790863 * 45 + 221323.00186540396

482249.66203087394

In [ ]:
112.06244194 * 2500 + 23388.88007794 * 4 + -3231.71790863 * 5 + 221323.00186540396

578876.0374840139